
body{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

.foto-central{
	width: 80%;
}

.text-wrapper{
	width: 70%;
	margin: auto;
}
.gris{
	color: gray !important;
}
.box_wrapper{
	width: 48%;
	border: 1px solid #27496d !important;
	height: 320px;
	float: left;
	padding: 10px;
	background: #fff;
	border-radius: 5px;
   
}
.image{
	float: right;
}

.titulo{
	display: inline;
	color: blanchedalmond;
}
.desc{
	font-size: 1.5em;
}
.azul-medio{
	width: 98%;
}
#img-card{
	width: 100%;
}
.txt{
	font-size: 1.3em;
}