.marino-nav{
    background: #142850;
}
body{
    background: #1abc9c !important;
    
}
.turquesa-fondo{
  background: #1abc9c !important;
}

.gris-fondo{
  background: #dae1e7 !important;
}
.azul-medio{
  background: #27496d;
}
.avatar-home{
  width: 48%;
}
.container-avatar{
  
  border: 1px solid #27496d;
  border-radius: 5px;
  padding: 20px;;
}
.container-avatar:hover{
  border: 1px solid #ffffff;
}

.btn-azul-medio{
  background: #27496d;
}
.btn-azul-medio:hover{
  background: rgb(2, 121, 49); 
  color : #142850; 

}
  