.top{
    background: #2e3e50;
    height: 100px;
}
.half{
    background: #1abc9c;
    height: 800px;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }
  